ollama==0.1.9
tqdm==4.66.2
PyMuPDF==1.24.0
PyMuPDFb==1.24.0
numpy==1.26.4
langchain==0.1.17
networkx
jinja2
ipython
jsonpickle
pyvis
streamlit
langchain_community
langchain_core
langchain_openai
neo4j
pyvis
python-dotenv
